@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
    max-width: 1505px;
    margin: 0 auto;
    font-family: sans-serif
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo img {
    object-fit: cover;
    padding: 15px;
}

.header button {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: medium;
    background-color: rgba(128, 128, 128, 0.223);
    cursor: pointer;
    box-shadow: 1px 1px 8px #888888;
}

.header button:hover {
    box-shadow: 1px 2px 8px black;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.096)
}

h1 {
    padding: 20px;
    text-align: center;
    font: bold;
}

p {
    font-weight: lighter;
    font-size: large;
    text-align: center;
    padding: 10px;
}

.search button {
    border-radius: 30px;
    background-color: rgba(179, 76, 207, 0.682);
    color: white;
    padding: 16px;
    font-size: medium;
    margin: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 4px #888888;
}

.search button:hover {
    box-shadow: 1px 2px 8px black;
}

.menu {
    padding: 20px;
}

.menu-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0px 20px 15px;
}

.step-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 20px;
    border: none;
    gap: 20px;
    font-size: medium;
    box-shadow: 1px 2px 8px #888888;
    position: relative;
}

.step-buttons:hover {
    box-shadow: 1px 2px 8px black;
    cursor: pointer;
}

.step_number {
    padding: 4px 8px;
    background-color: rgba(179, 76, 207, 0.682);
    border-radius: 13px;
    position: absolute;
    left: -14px;
    top: 14px;
}

.section-heading {
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.114);
}

.section-heading h2 {
    text-align: left;
}

.section-heading .img {
    background-color: #fff;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 1px 2px 8px #888888;
}

.section-heading .img:hover {
    box-shadow: 1px 2px 8px black;
}

.section-heading img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    /* height: auto; */
}

.img {
    position: relative;
}

.img-label {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: aquamarine;
    color: rgb(7, 141, 96);
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.img h3 {
    margin: 0;
}

.img i {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section-heading h3 {
    text-align: left;
    padding: 10px 10px 10px 10px;
    font: bold;
    color: black;
}

.section-heading p {
    text-align: left;
    padding: 10px;
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
}

.footer {
    background-color: black;

}

.footer h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    padding: 20px;
    margin: 0;
}

.footer-item ul {
    padding: 0 20px 20px 20px;
    margin: 0;
}

.footer-item li a {
    color: #fff;
    padding: 0 0 10px 0;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

@media only screen and (min-width: 768px) {
    body {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .logo
}